.card {
    max-width: 27.5rem;
    margin-bottom: 1rem;
    &__image {
        height: 15rem;
        object-fit: cover;
    }
}

.restaurants {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}