<ng-container *ngIf="restaurants$ | async as restaurants">
  <div class="page-content page-content--fixed">
    <h1>Restaurants</h1>
    <div class="restaurants card-container">
      <mat-card class="card" *ngFor="let item of restaurants" [routerLink]="'/restaurants/' + item.id">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle><span *ngFor="let cat of item.categories">{{ cat.name }}, </span></mat-card-subtitle>
        </mat-card-header>
        <img class="card__image" mat-card-image [src]="'http://localhost:1337' + item.image[0].url">
        <mat-card-content>
          <p>
            {{item.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
