<ng-container *ngIf="homepage$ | async as homepage">
    <div class="page-header" *ngIf="homepage.images">
        <img [src]="'http://localhost:1337' + homepage.images[0].url">
    </div>
    <div class="page-content page-content--fixed">
        <h1>{{homepage.Title}}</h1>
        <p>{{homepage.body}}</p>
        <h2>Some restaurants</h2>
        <div class="restaurants restaurants-frontpage card-container" *ngIf="restaurants$ | async as restaurants">
            <div class="card" *ngFor="let item of restaurants | slice:0:3" [routerLink]="'/restaurants/' + item.id">
                <img class="card__image" [src]="'http://localhost:1337' + item.image[0].url">
                <div class="card-body">
                    <h3>{{item.name}}</h3>
                    <p><span *ngFor="let cat of item.categories">{{ cat.name }}, </span></p>
                </div>
            </div>
          </div>
    </div>
</ng-container>
